// COLORS
$color-primary: orangered;
$color-white: #ffffff;
$color-silver: #D6D6D6;
$color-cursed-black: #101315;
$color-steel: #7A7A7A;
$color-crystal: #EFEFEF;
$color-basalt-grey: #999999;
$color-pearl: #F8F8F8;
$color-amberglow: #DD783F;
$color-lynx-white: #F7F7F7;
$color-kingly-cloud: #DEDEDE;
$color-carbon-fiber: #2E2E2E;
$color-bay-wharf: #768088;
$color-lightgreen: lightgreen;
$color-black: #000000;

// FONTS
$font-stack: "Arial", sans-serif;
$font-lora: 'Lora', serif;
$font-oxygen: 'Oxygen', sans-serif;
$font-roboto: 'Roboto', sans-serif;
